@charset "UTF-8";
@font-face {
  font-family: 'PF BeauSans Pro Bbook';
  src: url("../fonts/PFBeauSansPro-BbookItalic.eot");
  src: url("../fonts/PFBeauSansPro-BbookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-BbookItalic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-BbookItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-SemiBoldItalic.eot");
  src: url("../fonts/PFBeauSansPro-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-SemiBoldItalic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Light.eot");
  src: url("../fonts/PFBeauSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Light.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Regular.eot");
  src: url("../fonts/PFBeauSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Regular.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro XThin';
  src: url("../fonts/PFBeauSansPro-XThin.eot");
  src: url("../fonts/PFBeauSansPro-XThin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-XThin.woff2") format("woff2"), url("../fonts/PFBeauSansPro-XThin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Italic.eot");
  src: url("../fonts/PFBeauSansPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Italic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-LightItalic.eot");
  src: url("../fonts/PFBeauSansPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-LightItalic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Bold.eot");
  src: url("../fonts/PFBeauSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Bold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-ThinItalic.eot");
  src: url("../fonts/PFBeauSansPro-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-ThinItalic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Black.eot");
  src: url("../fonts/PFBeauSansPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Black.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro Bbook';
  src: url("../fonts/PFBeauSansPro-Bbook.eot");
  src: url("../fonts/PFBeauSansPro-Bbook.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Bbook.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Bbook.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-BlackItalic.eot");
  src: url("../fonts/PFBeauSansPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-BlackItalic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-Thin.eot");
  src: url("../fonts/PFBeauSansPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-Thin.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-BoldItalic.eot");
  src: url("../fonts/PFBeauSansPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-BoldItalic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'PF BeauSans Pro';
  src: url("../fonts/PFBeauSansPro-SemiBold.eot");
  src: url("../fonts/PFBeauSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-SemiBold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'PF BeauSans Pro XThin';
  src: url("../fonts/PFBeauSansPro-XThinItalic.eot");
  src: url("../fonts/PFBeauSansPro-XThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PFBeauSansPro-XThinItalic.woff2") format("woff2"), url("../fonts/PFBeauSansPro-XThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

h1, h2, h3 {
  font-weight: normal; }

h1, h2, h3, h4, h5, p, a {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: 0;
  margin-top: 0; }

.container {
  font-family: 'PF BeauSans Pro';
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1220px;
  padding: 0 30px;
  margin: 0 auto; }

.inner {
  font-family: 'PF BeauSans Pro';
  max-width: 940px;
  margin: 0 auto; }

.hidden {
  display: none; }

@media (max-width: 768px) {
  .container {
    padding: 0 20px; } }

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.button {
  font-family: 'PF BeauSans Pro';
  padding: 14px 0;
  padding-top: 16px;
  font-size: 16px;
  width: 240px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(86, 86, 86, 0.5);
  border-radius: 3px;
  display: inline-block;
  background: #E94280;
  transition: background .2s ease;
  will-change: background; }
  .button:hover {
    background: #ff0964; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.background-black {
  opacity: 0.5;
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1000; }
  .video-container.video-container-visible {
    display: flex; }
  .video-container .video-container-close {
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 10000;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background: url("../images/close.svg") no-repeat center/contain; }
  .video-container .youtube-video-player {
    width: 100%;
    height: 100%; }
  .video-container iframe {
    width: 100%;
    height: 100%; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center; }
  .modal.is-visible {
    display: flex; }
  .modal .modal-inner {
    width: 100%;
    max-width: 1280px;
    padding: 80px 0;
    padding-left: 50px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'PF BeauSans Pro';
    position: relative;
    z-index: 100; }
  .modal .modal-name {
    padding-top: 15px;
    padding-lefT: 15px; }
  .modal .modal-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: url("../images/close-black.svg") no-repeat center/contain;
    cursor: pointer; }
  .modal .modal-description {
    padding: 0 80px;
    padding-top: 45px; }
  .modal .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background: #000;
    opacity: 0.9;
    height: 100vh;
    width: 100vw; }

.head {
  position: relative;
  height: 600px;
  width: 100%;
  background-color: #000;
  background: url("../images/background.gif") no-repeat center/cover;
  color: #fff;
  padding-top: 80px; }

.logo {
  margin-bottom: 88px; }

.vacancy-wrapper {
  width: 450px; }

.vacancy {
  font-size: 24px;
  margin-bottom: 40px; }
  .vacancy-descr {
    font-weight: bold;
    margin-bottom: 8px; }

.become-a-manager {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.watch-video {
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer; }
  .watch-video img {
    margin-right: 15px; }
  .watch-video span {
    padding-top: 5px; }

.detail-descr {
  padding: 80px 0;
  font-size: 18px;
  color: #888888;
  font-weight: 600; }

.text {
  border-left: 2px solid #E94280;
  padding: 40px; }

.light-office {
  color: #E94280;
  cursor: pointer; }

.to-do {
  padding: 40px 0; }
  .to-do-list_wrapper {
    display: flex;
    align-items: center; }
  .to-do-list {
    margin-left: 100px; }
  .to-do-item {
    display: flex;
    align-items: center; }
    .to-do-item span {
      margin-left: 20px;
      max-width: 873px; }
    .to-do-item:not(:last-child) {
      margin-bottom: 40px; }

.title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 80px; }

.welcome-if {
  padding: 80px 0; }

.conditions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px; }

.conditions-item {
  display: flex;
  align-items: center;
  width: 50%; }
  .conditions-item span {
    margin-left: 40px;
    max-width: 370px; }
  .conditions-item:nth-child(-n+2) {
    margin-bottom: 60px; }

.advantages {
  padding: 80px 0;
  background: #4A546C;
  color: #fff; }
  .advantages-list {
    display: flex;
    flex-flow: column wrap;
    height: 130px; }
  .advantages span {
    margin-left: 15px; }
  .advantages-item:not(:nth-child(3n)) {
    margin-bottom: 25px; }

.the-way .container {
  padding: 80px 30px; }

.the-way .button {
  margin-top: 60px; }

.woman {
  position: absolute;
  height: 550px;
  width: auto;
  bottom: 0;
  right: 0; }

.step {
  display: flex;
  align-items: flex-end; }
  .step .descr {
    padding-bottom: 40px;
    margin-left: 25px; }
  .step .number {
    font-size: 100px;
    font-weight: 900;
    color: #ECECEC; }

.step-title {
  font-weight: 600; }

.status {
  margin-top: 10px;
  color: #898989; }

.footer {
  background: #4A546C;
  color: #fff; }
  .footer .container {
    padding: 80px 30px; }
  .footer .title {
    margin-bottom: 24px; }

.city {
  font-weight: bold;
  margin-bottom: 25px; }

.adreses span {
  position: relative;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 20px; }
  .adreses span::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: #E94280;
    position: absolute;
    bottom: -8px;
    left: 0; }

.licence {
  background: #4A546C;
  color: #fff;
  border-top: 1px solid #8D9CB5; }
  .licence .container {
    padding: 40px 30px; }

.gallery {
  padding: 80px 0 50px;
  background: #F1F1F1; }

.slider-navigation {
  margin-top: 16px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.slider-counter {
  font-size: 16px;
  color: #000000;
  text-align: left;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; }

.slider-separate {
  margin: 0 4px; }

.slider-prev {
  background: url("../images/left.svg") no-repeat center/contain;
  width: 10px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer; }

.slider-next {
  background: url("../images/right.svg") no-repeat center/contain;
  width: 10px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer; }

@media (max-width: 960px) {
  .woman {
    display: none; }
  .advantages-list {
    height: auto; }
  .advantages-item {
    margin-bottom: 25px; } }

@media (max-width: 768px) {
  .slider-item img {
    width: 100%; }
  .modal .modal-inner {
    width: 100%;
    height: 100%;
    display: block;
    padding: 40px 24px;
    overflow-y: scroll; }
  .modal-photo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; }
  .modal .modal-name {
    padding: 0;
    padding-left: 16px; }
  .modal-photo img {
    width: 100px;
    height: 100%; }
  .modal .modal-description {
    padding: 0;
    margin-top: 32px; }
  .detail-descr {
    padding: 60px 0px; }
  .detail-descr .text {
    padding-right: 0;
    padding-top: 24px;
    padding-bottom: 24px; }
  .title {
    margin-bottom: 32px; }
  .welcome-if {
    padding: 60px 0; }
  .conditions {
    margin-bottom: 0px; }
  .to-do-item:not(:last-child),
  .conditions-item:not(:last-child) {
    margin-bottom: 32px; }
  .advantages {
    padding: 60px 0; }
  .advantages-item {
    display: flex;
    flex-flow: row nowrap; }
  .advantages-item:last-child {
    margin-bottom: 0; }
  .advantages-item img {
    height: 18px; }
  .the-way .container {
    padding: 60px 24px; }
  .the-way .button {
    margin-top: 32px; }
  .footer .container,
  .licence .container {
    padding: 60px 24px; }
  .vacancy-wrapper {
    width: auto; }
  .become-a-manager {
    flex-wrap: wrap; }
    .become-a-manager .button {
      margin-bottom: 24px; }
  .to-do-list_wrapper img {
    display: none; }
  .to-do-list {
    margin: 0; }
  .button {
    width: 100%; }
  .conditions-item {
    width: auto;
    margin-bottom: 60px; } }


/*# sourceMappingURL=app.css.map*/